<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1 style="background-color: darkcyan;color:white;padding:2rem;text-align: center;border-radius: 8px;">Password Generator</h1>
   <div class="pass" style="background-color:{{bg}};"> <h1> {{password}}</h1></div> 
    <!-- test checkbox -->
    <form (ngSubmit)="generatePassword()"> 
            <label for="Length">Length</label><input type="number" [(ngModel)]="choices.length" name="length" min="8" > <br/>
            <label for="alphabets">Alphabets</label><input type="checkbox" [(ngModel)]="choices.alphabets" name="uppercase"><br>
            <label for="Numbers">Numbers</label><input type="checkbox" [(ngModel)]="choices.numbers" name="numbers"><br/>
            <label for="Special">Special character</label><input type="checkbox" [(ngModel)]="choices.special" name="special"><br/>
            <input type="submit" value="Generate" tyle="background:green;color:white;width:100px"><br/>

    </form>
   
    <!-- <div class="result">
      <h1> {{choices | json}}</h1> 
    </div> -->
</body>
</html>